{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block extra_css %}
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<section class="banner">
    <h1>PyCon China 2024</h1>
    <p>{{ page.date|date:"Y-m-d" }}・{{ page.venue }}</p>
    <div class="cta-buttons">
        {% for link in page.links.all %}
            <a href="{{ link.url }}">{{ link.title }}</a>
        {% endfor %}
    </div>
</section>
<main>
    <div class="card">
        <div class="card-body">
            <div class="content">
                {{ page.about|richtext }}
            </div>
        </div>
    </div>
</main>
{% endblock %}
