{% load wagtailcore_tags wagtailimages_tags %}

<div class="supporter-list">
    <h2>{{ self.heading }}</h2>
    <ul>
        {% for supporter in self.supporters %}
            <li class="supporter">
                <a href="{{ supporter.url }}" target="_blank">
                    {% if supporter.logo %}
                        {% image supporter.logo width-240 %}
                    {% endif %}
                    <div class="supporter-info">
                        <p>{{ supporter.name }}</p>
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
