html {
    font-size: 18px; /* Increased base font size */
}

body {
    line-height: 1.6; /* Improved readability with increased line height */
    margin: 0;
    padding: 64.8px 0 0 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #009cdf;
    background-image: 
        linear-gradient(to right, 
            rgba(0, 156, 223, 0) 0%,
            rgba(0, 156, 223, 0) 20%,
            rgba(0, 156, 223, 1) 40%,
            rgba(0, 156, 223, 1) 100%
        ),
        linear-gradient(45deg, #00b7eb 25%, transparent 25%),
        linear-gradient(-45deg, #00b7eb 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, #00b7eb 75%),
        linear-gradient(-45deg, transparent 75%, #00b7eb 75%);
    background-size: 100% 100%, 40px 40px, 40px 40px, 40px 40px, 40px 40px;
    background-position: 0 0, 0 0, 0 20px, 20px -20px, -20px 0px;
    background-repeat: no-repeat, repeat, repeat, repeat, repeat;
}

h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
}

a {
    color: #3776ab; /* Python blue */
    text-decoration: none;
    transition: color 0.3s ease;
    border-bottom: 1px solid transparent;
}

a:hover {
    color: #ffd43b; /* Python yellow */
    border-bottom-color: #ffd43b;
}

main {
    margin: 0 10px;
}

@media (min-width: 1200px) {
    main {
        margin: 0 auto;
        width: 1200px;
    }
}

.content {
    overflow: hidden;
}

.content a {
    color: #3776ab; /* Python blue */
    text-decoration: none;
    transition: color 0.2s ease;
    border-bottom: 1px solid transparent;
    position: relative;
    padding-left: 1.2em; /* 为图标留出空间 */
}

.content a:hover {
    color: #ffd43b; /* Python yellow */
    border-bottom-color: #ffd43b;
}

.content a::before {
    content: "\f0c1"; /* Font Awesome 链接图标的 Unicode */
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 0.86em;
    position: absolute;
    left: 0;
    transform: translateY(20%);
    font-size: 0.8em;
}

.content img {
    max-width: 100%;
}

.richtext-image.right {
    float: right;
    margin-left: 15px;
    margin-bottom: 10px;
}

.navbar {
    background-color: #3776ab;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: end;
    flex-direction: column;
}

.nav-links {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-links li {
    margin: 0 1rem;
}

.nav-link {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #ffd43b;
}

footer {
    background-color: #3776ab;
    color: #ffffff;
    padding: 2rem;
    margin-top: 60px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
}

footer h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

footer p {
    margin-bottom: 0.5rem;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #ffd43b;
    border-bottom-color: transparent;
}

footer i {
    font-size: 1.5rem;
    vertical-align: middle;
    margin: 0 0.5rem;
}

.past-conferences {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.past-conferences li {
    margin-right: 1rem;
    margin-bottom: 0.5rem;
}

.past-conferences a {
    font-size: 0.9rem;
    padding: 0.2rem 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 3px;
}

.past-conferences a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }
    
    .footer-section {
        margin-bottom: 1rem;
    }
    
    .past-conferences {
        justify-content: center;
    }
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.05);
    position: relative;
    padding: 1rem;
    z-index: 1;
    margin-bottom: 20px;
}
.card-header {
    font-weight: bold;
    margin: 0 0 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
}

@media (min-width: 992px) {
    .card {
        padding: 1rem 2rem;
    }
}

.title {
    border: 2px solid #4B8BBE;  /* Python blue */
    background-color: #FFD43B;  /* Python yellow */
    color: white;  /* White text */
    text-shadow:  2px  2px 0 #4B8BBE;  /* Python blue outline */
    padding: 20px;
    margin-bottom: 20px;
    display: inline-block;
    font-weight: bold;
    border-radius: 10px;  /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Subtle shadow */
}

.talk-badge {
    display: inline-block;
    padding: 0.25em 0.5em;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    color: #fff;
    margin-left: 0.5rem;
    font-size: 1rem;
}

.talk-badge.keynote {
    background-color: #ffc107;
    color: #000;
}

.talk-badge.lightning {
    background-color: #17a2b8;
}

/* Base navbar styles */
.navbar {
    transition: 0.3s;
}

/* Hamburger menu button */
.menu-toggle {
    display: none;
    cursor: pointer;
}

.menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: 0.3s;
}

/* Mobile styles */
@media screen and (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        flex-direction: column;
        align-items: end;
        background-color: #3776ab;
        opacity: 0;
    }

    .nav-links.active {
        opacity: 1;
    }

    .nav-links li {
        margin: 10px 36px 18px;
    }
}