<footer>
    <div class="footer-content">
        <div class="footer-section">
            <h3>PyCon China 2024</h3>

            {% with social_links=settings.base.NavigationSettings.social_links %}
                {% if social_links.exists %}
                    <p>
                        联系方式:

                        {% for link in social_links.all %}
                          <a href="{{ link.url }}" aria-label="{{ link.name }}"><i class="{{ link.icon }}"></i></a>
                        {% endfor %}
                    </p>
                {% endif %}
            {% endwith %}
        </div>

        <div class="footer-section">
            <h3>往届大会</h3>
            <ul class="past-conferences">
                <li><a href="https://cn.pycon.org/2023/" target="_blank">2023</a></li>
                <li><a href="https://cn.pycon.org/2022/" target="_blank">2022</a></li>
                <li><a href="https://cn.pycon.org/2021/" target="_blank">2021</a></li>
                <li><a href="https://cn.pycon.org/2020/" target="_blank">2020</a></li>
                <li><a href="https://cn.pycon.org/2019/" target="_blank">2019</a></li>
                <li><a href="https://cn.pycon.org/2018/" target="_blank">2018</a></li>
                <li><a href="https://cn.pycon.org/2017/" target="_blank">2017</a></li>
                <li><a href="https://cn.pycon.org/2016/" target="_blank">2016</a></li>
                <li><a href="https://cn.pycon.org/2015/" target="_blank">2015</a></li>
                <li><a href="https://cn.pycon.org/2014/" target="_blank">2014</a></li>
                <li><a href="https://cn.pycon.org/2013/" target="_blank">2013</a></li>
                <li><a href="https://cn.pycon.org/2012/" target="_blank">2012</a></li>
                <li><a href="https://cn.pycon.org/2011/" target="_blank">2011</a></li>
            </ul>
        </div>
    </div>
</footer>
