<footer>
    <div class="footer-content">
        <div class="footer-section">
            <h3>PyCon China 2024</h3>

            {% with twitter_url=settings.base.NavigationSettings.twitter_url github_url=settings.base.NavigationSettings.github_url home_url=settings.base.NavigationSettings.home_url %}
                {% if twitter_url or github_url or home_url %}
                    <p>
                        联系方式:
                        {% if github_url %}
                            <a href="{{ github_url }}" aria-label="GitHub"><i class="fab fa-github"></i></a>
                        {% endif %}
                        {% if twitter_url %}
                            <a href="{{ twitter_url }}" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                        {% endif %}
                        {% if home_url %}
                            <a href="{{ home_url }}" aria-label="PyChina"><i class="fas fa-home"></i></a>
                        {% endif %}
                    </p>
                {% endif %}
            {% endwith %}
        </div>
        
        <div class="footer-section">
            <h3>往届大会</h3>
            <ul class="past-conferences">
                <li><a href="https://cn.pycon.org/2023/" target="_blank">2023</a></li>
                <li><a href="https://cn.pycon.org/2022/" target="_blank">2022</a></li>
                <li><a href="https://cn.pycon.org/2021/" target="_blank">2021</a></li>
                <li><a href="https://cn.pycon.org/2020/" target="_blank">2020</a></li>
                <li><a href="https://cn.pycon.org/2019/" target="_blank">2019</a></li>
                <li><a href="https://cn.pycon.org/2018/" target="_blank">2018</a></li>
                <li><a href="https://cn.pycon.org/2017/" target="_blank">2017</a></li>
                <li><a href="https://cn.pycon.org/2016/" target="_blank">2016</a></li>
                <li><a href="https://cn.pycon.org/2015/" target="_blank">2015</a></li>
                <li><a href="https://cn.pycon.org/2014/" target="_blank">2014</a></li>
                <li><a href="https://cn.pycon.org/2013/" target="_blank">2013</a></li>
                <li><a href="https://cn.pycon.org/2012/" target="_blank">2012</a></li>
                <li><a href="https://cn.pycon.org/2011/" target="_blank">2011</a></li>
            </ul>
        </div>
    </div>
</footer>