{% load wagtailcore_tags site %}

<nav class="navbar">
    <!-- Add button for mobile menu -->
    <div class="menu-toggle" id="menuToggle">
        <span></span>
        <span></span>
        <span></span>
    </div>
    {% get_site_root as site_root %}
    <ul class="nav-links">
        <li><a href="{% pageurl site_root %}" class="nav-link">首页</a></li>
        {% for child in site_root.get_children.live.in_menu %}
            <li><a href="{% pageurl child %}" class="nav-link">{{ child.title }}</a></li>
        {% endfor %}
        <li>
          <a href="https://wj.qq.com/s2/16521138/481c/" class="nav-link" target="_blank">会后问卷</a>
        </li>
    </ul>
</nav>
