{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
<style>
    .staff-list > ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }

    .staff {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .staff > img {
        border-radius: 50%;
        margin-bottom: 1rem;
    }
    .staff-bio {
        font-size: 0.85em;
    }
</style>
{% endblock %}

{% block content %}
<main>
    <h1 class="title">{{ page.title }}</h1>
    {% if page.body %}
        <div class="card content">
            <div class="card-body">
                {{ page.body|richtext }}
            </div>
        </div>
    {% endif %}
    <div class="card">
        <div class="card-body supporters">
            {% for category in page.staff_categories.all %}
                <div class="staff-list">
                    <h3>{{ category.name }}</h3>
                    <ul>
                        {% for staff in category.staff.all %}
                            <li class="staff">
                                {% if staff.avatar %}
                                    {% image staff.avatar fill-180x180 %}
                                {% endif %}
                                <div>
                                    {{ staff.name }}
                                </div>
                                {% if staff.bio %}
                                    <div class="staff-bio">{{ staff.bio }}</div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
