{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/schedule.css' %}">
{% endblock %}

{% block content %}
<section class="schedule-container">
    <h1 class="title">{{ page.title }}</h1>
    {% if page.body %}
        <div class="card">
            <div class="card-body content">
                {{ page.body|richtext }}
            </div>
        </div>
    {% endif %}
    <div class="card">
        <div class="card-body">
          <a href="{% routablepageurl page 'ical' %}" class="btn btn-primary">下载日历(.ics)</a>
           {% for date, rooms in page.grouped_schedules.items %}
             {% include "snippets/schedule.html" %}
           {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
